<ng-container *ngIf="column && boardColumnIds">
  <div cdkDrag cdkDragLockAxis="x" class="column">
    <!-- Placeholder -->
    <ng-container *ngIf="placeholder">
      <div class="column__placeholder" *cdkDragPlaceholder>
        <p>{{ placeholder }}</p>
      </div>
    </ng-container>

    <!-- Title -->
    <h2 class="column__title" cdkDragHandle>{{ column.name }}</h2>

    <!-- Task list -->
    <div
      class="column__tasks"
      [id]="column.id"
      cdkDropList
      [cdkDropListConnectedTo]="boardColumnIds"
      [cdkDropListData]="column.tasks"
      (cdkDropListDropped)="handleCdkDropListDropped($event)"
    >
      <!-- Task -->
      <ngk-task
        *ngFor="let task of column.tasks"
        [placeholder]="placeholder"
        [item]="task"
      ></ngk-task>

      <button
        *ngIf="!newTask; else newTaskInput"
        tuiButton
        type="button"
        appearance="flat"
        icon="tuiIconPlus"
        class="tui-space_right-3 tui-space_bottom-3"
        (click)="initNewTask()"
      >
        New Task
      </button>

      <ng-template #newTaskInput>
        <div class="task task--new">
          <ngk-task
            [item]="newTask"
            [placeholder]="placeholder"
            [isNewTask]="newTask !== null"
            (titleCanceled)="handleTaskTitleCanceled()"
            (titleEdited)="handleTaskTitleEdited($event)"
          ></ngk-task>
        </div>
      </ng-template>
    </div>
  </div>
</ng-container>
