@import '@taiga-ui/core/styles/taiga-ui-local.scss';

.column {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 1rem 1rem 0.5rem 1rem;

  background: var(--tui-base-01);
  border: 1px solid var(--tui-base-03);
  border-radius: var(--tui-radius-l);

  &__title {
    margin: 0 0 0.5rem 0;
  }

  &__placeholder {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    color: var(--tui-base-05);
    border-radius: var(--tui-radius-l);
    border: 2px dashed var(--tui-base-04);
  }
}

::ng-deep {
  .cdk-drag-preview {
    border-radius: var(--tui-radius-l);
    overflow: hidden;
  }

  .cdk-drag-animating {
    @include transition(box-shadow);
    @include transition(transform);
    background-color: transparent;
  }

  .board.cdk-drop-list-dragging .column:not(.cdk-drag-placeholder) {
    @include transition(transform);
  }
}
