@import '@taiga-ui/core/styles/taiga-ui-local.scss';

$backgroundColor: #f8fafb;

.column {
  height: 100%;

  &__title {
    margin: 0 0 1.2rem 0;
    text-shadow: 1.5px 1.5px rgb(0 0 0 / 15%);
  }

  &__placeholder {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    color: var(--tui-base-05);
    border-radius: var(--tui-radius-l);
    border: 2px dashed var(--tui-base-04);
  }

  &__tasks {
    display: flex;
    flex-direction: column;

    height: calc(100% - 40px);
    padding: 1rem 1rem 0.5rem 1rem;

    background: $backgroundColor;
    border: 1px solid var(--tui-base-03);
    border-radius: var(--tui-radius-l);
  }
}

::ng-deep {
  .cdk-drag-preview {
    padding: 0.25rem;
    overflow: hidden;

    background: transparent;
    border-radius: var(--tui-radius-l);
  }

  .cdk-drag-animating {
    @include transition(box-shadow);
    @include transition(transform);
    background-color: transparent;
  }

  .board.cdk-drop-list-dragging .column:not(.cdk-drag-placeholder) {
    @include transition(transform);
  }
}
