<tui-root>
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <header class="header">
    <h1>
      <img
        src="https://raw.githubusercontent.com/Tinkoff/taiga-ui/1c73e97155678e2616726866484db8ccad4cdb4f/projects/demo/src/assets/images/taiga.svg"
        alt="taiga ui logo"
        width="24"
      />
      Taiga UI
    </h1>

    <iframe
      src="https://ghbtns.com/github-btn.html?user=Tinkoff&repo=taiga-ui&type=star&count=true&size=large"
      frameborder="0"
      scrolling="0"
      width="170"
      height="30"
      title="GitHub"
    ></iframe>
  </header>
  <button
    tuiButton
    type="button"
    appearance="primary"
    class="tui-space_right-3 tui-space_bottom-3"
  >
    primary
  </button>

  <ng-kanbanly-nx-welcome></ng-kanbanly-nx-welcome>
</tui-root>
