<tui-root>
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <header class="header">
    <div class="flex flex--1">
      <div class="logo">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <h1>ng kanbanly</h1>
    </div>

    <iframe
      src="https://ghbtns.com/github-btn.html?user=OanaSurdea&repo=ng-kanbanly&type=star&count=true&size=large"
      frameborder="0"
      scrolling="0"
      width="170"
      height="30"
      title="GitHub"
    ></iframe>
  </header>

  <router-outlet></router-outlet>
</tui-root>
